/*
  This stylesheet defines the default styles
  for the homepage connect block.
*/
.nolij-connect-container {
  @include styleguide;
  background-image: url('/themes/elucid/components/connect/images/grid-light-bg.svg');
  background-size: 26px;

  .nolij-connect-component {
    display: flex;
    @include tablet(flex-direction, column);
    height: 400px;
    @include tablet(height, auto);
    @include padded-content-block(40px 42px, 30px 10px);

    .nolij-connect-left {
      margin-top: 73px;
      @include tablet(margin-top, 0);
      width: 300px;

      .nolij-connect-left-header {
        h2.nolij-connect-left-title {
          @include strip-margins;
          color: $blue-dark;
          font-family: $second-font-family;
          font-size: 40px;
          @include tablet(font-size, 26px);
          font-weight: 300;
          text-transform: uppercase;
        }
      }
      .nolij-connect-left-body {
        p.nolij-connect-left-lead {
          @include strip-margins;
          color: $red;
          font-size: 40px;
          font-weight: 300;
        }
      }
    }
    .nolij-connect-right {
      flex-grow: 1;
      position: relative;

      .nolij-connect-form-container {
        @include card;
        background-color: white;
        border-top: solid 4px $red;
        padding: 40px;
        position: absolute;
        @include tablet(position, static);
        width: 100%;

        input,
        textarea {
          max-width: 100%;
        }
        .nolij-connect-right-header {
          .nolij-connect-right-title {
            color: $red;
            font-family: $second-font-family;
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
          }
        }
        .form-textarea {
          height: 126px;
        }
        .js-form-submit {
          background-color: $red;
          border: none;
          border-color: $red;
          border-radius: 2px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
          color: white;
          display: inline-block;
          font-family: $second-font-family;
          font-weight: bold;
          margin-right: 15px;
          padding: 15px 30px;
          text-transform: uppercase;
        }
      }
    }
  }
}
