/*
  This stylesheet defines the default styles
  for the homepage hero block.
*/
.nolij-hero-container {
  $hero-height: 70vh;

  @include styleguide;
  height: $hero-height;
  overflow: hidden;
  width: 100%;

  video#bgvideo {
    background: url(/themes/elucid/components/hero/images/video-placeholder.jpg) no-repeat;
    background-size: cover;
    width: 100%;
  }
  .nolij-hero-component {
    height: $hero-height;
    position: absolute;
    width: 100%;

    .nolij-hero-component-content {
      @include padded-content-block(42px 42px 0);
      height: 100%;
      position: relative;

      .nolij-hero-component-overlay {
        color: white;
        width: 645px;

        .nolij-hero-component-overlay-header {
          h2.nolij-hero-component-overlay-title {
            font-family: $second-font-family;
            font-size: 44px;
            font-weight: 600;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          }
        }
        .nolij-hero-component-overlay-body {
          .nolij-hero-component-overlay-lead {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          }
        }
        .nolij-hero-component-overlay-footer {
          .nolij-hero-component-overlay-button {
            background-color: $red-light;
            display: inline-block;
            font-family: $second-font-family;
            font-weight: bold;
            margin-right: 15px;
            padding: 15px 30px;
            text-transform: uppercase;

            &:hover {
              background-color: $red;
              cursor: pointer;
            }
          }
        }
      }
    }
    .nolij-hero-component-scroll-overlay {
      position: absolute;
      bottom: 0px;
      width: 100%;

      .nolij-hero-component-scroll-overlay-tab {
        background: no-repeat url('../images/scroll-down-icon.svg');
        background-position: bottom 10px center;
        color: white;
        cursor: pointer;
        font-family: $second-font-family;
        font-size: 12px;
        margin: 0 auto;
        padding-bottom: 37px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
