/*
  This stylesheet defines the default styles
  for the homepage hero block.
*/
.nolij-hero-container {
  $hero-height: calc(100vh - 80px);
  $hero-tablet-height: calc(100vh - 131px);
  $hero-min-height: 370px;
  $hero-padding: 42px;

  @include styleguide;
  background-color: black;
  height: $hero-height;
  @include at-breakpoint($header-menu-breakpoint, height, $hero-tablet-height);
  min-height: $hero-min-height;
  overflow: hidden;
  width: 100%;

  video#bgvideo {
    min-height: 105%;
    min-width: 105%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .nolij-hero-component {
    background-image: url('/themes/elucid/components/hero/images/video-overlay.svg');
    background-size: 26px;
    height: $hero-height;
    @include at-breakpoint($header-menu-breakpoint, height, $hero-tablet-height);
    min-height: $hero-min-height;
    position: absolute;
    width: 100%;
    z-index: 1;

    .nolij-hero-component-content {
      @include padded-content-block(0 $hero-padding);
      height: 100%;
      position: relative;

      .nolij-hero-component-overlay {
        color: white;
        max-width: 645px;
        position: relative;
        top: 20%;
        width: 100%;

        .nolij-hero-component-overlay-header {
          h2.nolij-hero-component-overlay-title {
            @include strip-margins;
            font-family: $second-font-family;
            font-size: 44px;
            font-weight: 600;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          }
        }
        .nolij-hero-component-overlay-body {
          .nolij-hero-component-overlay-lead {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          }
        }
        .nolij-hero-component-overlay-footer {
          a {
            color: white;

            .nolij-hero-component-overlay-button {
              background-color: $red-light;
              display: inline-block;
              font-family: $second-font-family;
              font-weight: bold;
              margin-right: 15px;
              padding: 15px 30px;
              text-transform: uppercase;

              &:hover {
                background-color: $red;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .nolij-hero-component-scroll-overlay {
      position: absolute;
      bottom: 0px;
      width: calc(100% - #{2 * $hero-padding});

      .nolij-hero-component-scroll-overlay-tab {
        background: no-repeat url('../images/scroll-down-icon.svg');
        background-position: bottom 10px center;
        color: white;
        cursor: pointer;
        font-family: $second-font-family;
        font-size: 12px;
        margin: 0 auto;
        padding-bottom: 37px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
