/*
  This stylesheet defines the default styles
  for the Contract Vehicles component.
*/
.nolij-vehicles-container {
  @include styleguide;

  .nolij-vehicles-component {
    @include padded-content-block(45px 25px 30px, 25px 10px);
    background-color: white;
    border: solid 18px #437ca5;
    @include mobile(border-width, 5px);

    .nolij-vehicles-component-header {
      @include short-hrule-after;

      h2.nolij-vehicles-component-title {
        @include strip-margins;
        color: $blue-dark;
        font-family: $second-font-family;
        font-size: 55px;
        @include tablet(font-size, 30px);
        font-weight: 300;
        text-transform: uppercase;
      }
    }
    .nolij-vehicles-component-body {
      .nolij-vehicles-component-lead {
        color: $gray-text;
        line-height: 28px;
      }
      .nolij-vehicles-component-details {
        display: flex;
        @include tablet(flex-direction, column);

        .nolij-vehicles-component-card-title {
          @include strip-margins;
          color: $red;
          font-family: $second-font-family;
          font-size: 26px;
          text-transform: uppercase;
        }
        .nolij-vehicles-component-left-card {
          @include card;
          flex-grow: 1;
          margin-right: 25px;
          @include tablet(margin-right, 0);
          @include tablet(margin-bottom, 25px);
          width: 602px;
          @include tablet(width, 100%);

          .nolij-vehicles-component-left-card-header {
            padding: 25px;
            @include mobile(padding, 25px 10px);

            .nolij-vehicles-component-left-card-title {
              font-weight: 300;
            }
          }
          .nolij-vehicles-component-left-card-body {
            padding: 0 25px;
            @include mobile(padding, 0 10px);

            ul.nolij-vehicles-component-vehicles-list {
              @include strip-margins;
              list-style: none;
              margin-left: 20px;
              @include mobile(margin-left, 10px);

              .nolij-vehicles-component-vehicles-list-item {
                color: $blue-dark;
                font-family: $second-font-family;
                line-height: 1.7;
                margin-bottom: 30px;
                padding-left: 10px;
                position: relative;
                text-transform: uppercase;

                &:before {
                  @include icon('/themes/elucid/components/vehicles/images/vehicle-icon.svg', 17px, 21px, block);
                  left: -10px;
                  top: 5px;
                }
                a.nolij-vehicles-component-vehicles-link {
                  color: $red;
                  padding-right: 30px;
                  position: relative;
                  text-transform: none;

                  &:after {
                    @include icon("../images/read-more-icon.svg", 11px, 19px, span);
                    position: relative;
                    display: inline-block;
                    height: 10px;
                    margin-left: 10px;
                    width: 30px;
                  }
                }
              }
            }
          }
          .nolij-vehicles-component-left-card-footer {
            border-top: solid 1px $gray-lightest;
            color: $gray-text;
            font-size: 16px;
            padding: 15px 25px;
            @include mobile(padding, 15px 10px);

            .nolij-vehicles-component-duns {
              @include mobile(display, block);
              margin-right: 50px;
              @include mobile(margin-right, 0);
            }
            .nolij-vehicles-component-cage {
              @include mobile(display, block);
            }
          }
        }
        .nolij-vehicles-component-right-card {
          @include card;
          padding: 25px 15px 20px;
          width: 219px;
          @include tablet(width, 100%);

          .nolij-vehicles-component-right-card-header {
            margin-bottom: 30px;

            .nolij-vehicles-component-right-card-title {
              font-weight: bold;
            }
          }
          .nolij-vehicles-component-right-card-body {
            .nolij-vehicles-component-cert {
              margin-bottom: 20px;
              text-align: center;
              @include mobile(text-align, left);

              .nolij-vehicles-component-cert-logo {
                img {
                  height: 100%;
                  width: auto;
                }
              }
              .nolij-cmmi-logo {
                height: 80px;
              }
              .nolij-iso-logo {
                height: 36px;
              }
              .nolij-vehicles-component-cert-desc {
                color: $gray-light;
                font-size: 16px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
