/*
  This stylesheet defines the default styles
  for the homepage services block.
*/
.nolij-services-container {
  @include styleguide;
  background-image: url('/themes/elucid/components/services/images/grid-light-bg.svg');
  background-size: 26px;

  .nolij-services-component {
    @include padded-content-block(40px 42px);

    .nolij-services-header {
      @include short-hrule-after;

      h2.nolij-services-title {
        @include strip-margins;
        color: $blue-dark;
        font-family: $second-font-family;
        font-size: 55px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
    .nolij-services-body {
      p.nolij-services-lead {
        color: $gray-text;
        line-height: 28px;
      }
      .nolij-services-table {
        @include card;
        background-color: white;
        display: flex;
        @include tablet(display, none);


        .nolij-services-table-left {
          background-color: #FFF7F7;
          color: #313131;
          flex-shrink: 0;
          width: 300px;

          .nolij-services-menu-component {
            .nolij-services-menu-item {
              border-left: 4px solid transparent;
              color: #313131;
              font-family: $second-font-family;
              font-size: 12px;
              font-weight: bold;
              padding: 10px;

              &:hover {
                cursor: pointer;
              }
              &:first-of-type {
                border-top-left-radius: 2px;
              }
              &:last-of-type {
                border-bottom-left-radius: 2px;
              }
              &.nolij-services-menu-item-selected {
                background-color: white;
                border-left: 4px solid $red;
                color: $red;
              }
              .nolij-services-menu-item-icon {
                display: inline-block;
                height: 100%;
                width: 30px;

                .nolij-services-menu-item-icon-img {
                }
              }
              .nolij-services-menu-item-label {
                display: inline-block;
              }
            }
          }
        }
        .nolij-services-table-right {
          background-color: white;
          padding: 10px 30px;

          .nolij-services-details {
            display: flex;

            .nolij-services-detail {
              display: none;

              .nolij-services-detail-header {
                h2.nolij-services-detail-title {
                  @include strip-margins;
                  color: $red;
                  font-family: $second-font-family;
                  font-size: 26px;
                  text-transform: uppercase;
                }
              }
              .nolij-services-detail-body {
                color: #424242;
              }
              &.nolij-services-detail-selected {
                display: block;
              }
            }
          }
        }
      }
      .nolij-services-mobile-component {
        @include tablet(display, block);
        @include card;
        background-color: white;
        display: none;
        font-family: $second-font-family;

        &:hover {
          cursor: pointer;
        }
        .nolij-services-menu-item {
          border-left: solid $red 4px;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25), 0 1px 1px 0 rgba(0, 0, 0, 0.15); 
          display: flex;
          min-height: 75px;

          .nolij-services-menu-item-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60px;

            .nolij-services-menu-item-icon-img {
            }
          }
          .nolij-services-menu-item-label {
            color: #2d2d2d;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            font-family: $second-font-family;
            font-size: 16px;
            font-weight: bold;
            justify-content: center;
            letter-spacing: 0.9px;
            text-align: left;
          }
          .nolij-services-menu-item-toggle-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60px;
          }
          &.nolij-services-menu-item-selected {
            .nolij-services-menu-item-label {
              color: $red;
            }
          }
        }
        .nolij-services-detail {
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25), 0 1px 1px 0 rgba(0, 0, 0, 0.15); 
          display: none;
          padding: 20px 10px;

          p {
            @include strip-margins;
          }
          .nolij-services-detail-header {
            display: none;
          }
        }
      }
    }
  }
}
